@charset "UTF-8";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  height: 1000px;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  border-radius: 0 0 300px 0;
}

@media (max-width: 768px) {
  .header {
    height: 1500px;
  }
}

.header__top {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1251px;
  height: 71px;
  padding-top: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__top {
    width: 650px;
  }
}

.header__top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 141px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

@media (max-width: 768px) {
  .header__top-logo {
    margin-left: 20px;
  }
}

.header__top-logo h1 {
  opacity: 0.8;
}

.header__top-button {
  margin-left: 225px;
  width: 150px;
  height: 50px;
  border: 1.50px solid #fff;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-family: "DM Sans", sans-serif;
}

@media (max-width: 768px) {
  .header__top-button {
    margin-left: 300px;
  }
}

.header__top-burger {
  display: none;
}

@media (max-width: 768px) {
  .header__top-burger {
    display: block;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 502px;
  height: 33px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav__list {
    display: none;
    width: 768px;
  }
}

.nav__list a {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 206%;
  font-family: "Font-Awesome", sans-serif;
}

.nav__list select {
  background: none;
  color: #fff;
}

.nav {
  margin-left: 233px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    width: 768px;
  }
}

.header__content {
  position: relative;
  margin: 0 auto;
  width: 1251px;
  height: 613px;
  margin-top: 110px;
}

@media (max-width: 768px) {
  .header__content {
    width: 650px;
  }
}

.header__content-title {
  color: #FFF;
  font-size: 85px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: -0.02em;
  font-family: "DM Sans", sans-serif;
  width: 642px;
  height: 301px;
}

.header__content-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 233%;
  font-family: "DM Sans", sans-serif;
  margin-top: 29px;
  width: 507px;
  height: 116px;
}

.header__content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 292px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-btn1 {
  border-radius: 50px;
  width: 150px;
  height: 50px;
  background-color: #FFF;
  color: #0F2137;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.header__content-btn2 {
  width: 122px;
  height: 28px;
  background: none;
  font-family: "Heebo", sans-serif;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 490px;
  height: 42px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 262%;
  font-family: "DM Sans", sans-serif;
  margin-top: 37px;
  margin-left: 2px;
}

.header__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 363px;
  height: 30px;
  margin-top: 8px;
}

.header__content-back {
  position: absolute;
  left: 642px;
  top: -15px;
  z-index: 3;
}

@media (max-width: 768px) {
  .header__content-back {
    left: 0;
    top: 650px;
    width: 700px;
    height: 600px;
  }
}

.header__content-stars {
  position: absolute;
  left: 1014px;
  top: -35.42px;
  z-index: 2;
}

@media (max-width: 768px) {
  .header__content-stars {
    left: 292px;
    top: 630px;
    width: 250px;
    height: 300px;
  }
}

.back1 {
  position: absolute;
  border-radius: 300px 300px 300px 0;
  width: 526px;
  height: 526px;
  background: rgba(255, 255, 255, 0.03);
  top: -236px;
  left: -422px;
}

.back2 {
  position: absolute;
  border-radius: 300px 300px 300px 0;
  width: 526px;
  height: 526px;
  background: rgba(255, 255, 255, 0.07);
  top: 293px;
  left: -422px;
}

.back3 {
  position: absolute;
  border-radius: 0 0 350px 0;
  width: 550px;
  height: 905px;
  background: rgba(255, 255, 255, 0.03);
  top: -181px;
  left: 104px;
}

.back4 {
  position: absolute;
  border-radius: 0 0 350px 0;
  width: 550px;
  height: 778px;
  background: rgba(255, 255, 255, 0.07);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 41px;
  left: 654px;
}

@media (max-width: 768px) {
  .back4 {
    top: 790px;
    left: -322px;
  }
}

.back5 {
  position: absolute;
  border-radius: 300px 300px 300px 0;
  width: 526px;
  height: 526px;
  background: rgba(255, 255, 255, 0.07);
  top: -562px;
  left: 1204px;
}

@media (max-width: 768px) {
  .back5 {
    display: none;
  }
}

.back6 {
  position: absolute;
  border-radius: 300px 300px 300px 0;
  width: 526px;
  height: 526px;
  background: rgba(255, 255, 255, 0.03);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 41px;
  left: 1204px;
}

@media (max-width: 768px) {
  .back6 {
    left: 182px;
    top: 700px;
  }
}

/* скрываем чекбокс */
#menu__line {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

body {
  margin: 0 auto;
}
/*# sourceMappingURL=base.css.map */